@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .absolute-align {
        @apply absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%];
    }

    .modal-bg {
        background: rgba(255,255,255,0);
        backdrop-filter: blur(6px);
    }
}

@layer components {
    .primary-button {
        @apply bg-secondaryVariant font-IBM px-2 py-1 text-light font-bold rounded-lg hover:bg-secondary hover:text-text;
    }
    .active-button {
        @apply bg-primary font-IBM px-2 py-1 text-light font-bold rounded-lg;
    }

    .flag-icon {
        @apply w-[30px] hover:cursor-pointer brightness-75 hover:brightness-100;
    }
}

body {
    background: url("../src/assets/media/images/background.svg") no-repeat center center fixed;
    background-size: cover;
}
