@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .absolute-align {
        @apply absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%];
    }

    .modal-bg {
        background: rgba(255,255,255,0);
        backdrop-filter: blur(3px);
    }

    .absolute-center {
        @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
    }
}

@layer components {
    .setup-modal {
        @apply absolute-align w-full sm:w-[90%] sm:max-w-screen-sm p-4 sm:py-4 sm:px-8 bg-white sm:rounded-lg  sm:shadow-sm sm:shadow-white z-10 h-[100%] max-h-[97%] sm:h-auto overflow-auto;
    }
    .primary-button {
        @apply bg-secondaryVariant font-IBM p-2 text-light font-bold rounded-lg hover:bg-secondary hover:text-text mobile:w-auto w-[70%] m-auto;
    }
    .active-button {
        @apply bg-primary font-IBM p-2 text-light font-bold rounded-lg mobile:w-auto w-[70%] m-auto;
    }

    .flag-icon {
        @apply w-[30px] hover:cursor-pointer brightness-75 hover:brightness-100;
    }

    .level-button {
        @apply font-IBM p-2 text-light m-auto mobile:rounded-full rounded-lg mobile:w-[45px] w-[70%] h-[auto] mobile:h-[45px] text-lg font-bold hover:text-text;
    }

    .btn-container {
        @apply flex gap-[10px] flex-col mobile:flex-row mobile:w-auto w-[100%];
    }

    .setup-section-container {
        @apply flex items-center mt-8 justify-between flex-col mobile:flex-row;
    }

    .setup-text {
        @apply text-xl sm:text-2xl font-extrabold text-left mb-4 mobile:mb-0 mr-4;
    }

    .rules-mode {
        @apply font-IBM text-2xl font-bold text-white text-center mb-4 w-[90%] mobile:w-[70%] bg-secondaryVariant p-4 mx-auto rounded-lg;
    }

    .rules-players {
        @apply font-IBM text-lg text-text font-bold mb-4;
    }

    .rules-ul {
        @apply list-disc w-[90%] mx-auto mb-4 font-medium;
    }

    .level1 {
        @apply hover:bg-green-500 bg-green-600 level-button;
    }
    .level2 {
        @apply hover:bg-yellow-500 bg-yellow-600 level-button;
    }
    .level3 {
        @apply hover:bg-orange-500 bg-orange-600 level-button;
    }
    .level4 {
        @apply hover:bg-red-500 bg-red-600 level-button;
    }
    .level5 {
        @apply hover:bg-red-800 bg-red-900 level-button;
    }

    .button-header {
        @apply sm:py-2 py-3 px-4 text-text font-IBM font-bold bg-secondary rounded-full hover:bg-secondaryVariant hover:text-white;
    }

    .circle-wrapper {
        @apply w-[90%] h-[90%] rounded-full relative mt-[50px] mx-auto;
        box-shadow: -1px 8px 7px 2px black;
    }
    
    .circle {
        @apply rounded-full block h-[40%] left-[30%] leading-[100px] absolute text-center top-[30%] w-[40%];
        -webkit-tap-highlight-color: transparent;
        box-shadow: 0 0px 6px 2px black;
    }
}

body {
    background: url("../src/assets/media/images/background.svg") no-repeat center center fixed;
    background-size: cover;
}

.active-level {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(29 53 87 / var(--tw-bg-opacity)) !important;
    color: #fff;
}

.active-level:hover {
    color: #fff;
}

/*******  Simon's game 5 colors   *********/
.simon-1-5 {
    transform: rotate(-16deg) translate(100%) rotate(-46deg);
}

.simon-2-5 {
    transform: rotate(56deg) translate(100%) rotate(-46deg);
}

.simon-3-5 {
    transform: rotate(128deg) translate(100%) rotate(-91deg);
}

.simon-4-5 {
    transform: rotate(200deg) translate(100%) rotate(-136deg);
}

.simon-5-5 {
    transform: rotate(272deg) translate(100%) rotate(-181deg);
}


/********** Simon's 4 colors **********/
.simon-1-4 {
    transform: rotate(-88deg) translate(100%) rotate(-46deg);
}

.simon-2-4 {
    transform: rotate(2deg) translate(100%) rotate(-46deg);
}

.simon-3-4 {
    transform: rotate(92deg) translate(100%) rotate(-91deg);
}

.simon-4-4 {
    transform: rotate(181deg) translate(100%) rotate(-136deg);
}

.simonRed-lightsOn {
box-shadow: inset 0 0 20px 5px #ff6060, 0 0 11px 1px #f32727;
background-color: rgb(255, 64, 64);
}

.simonBlue-lightsOn {
background-color: rgb(67, 226, 247);
box-shadow: inset 0 0 20px 5px #60bdff, 0 0 11px 1px #27cdf3;
}


.simonYellow-lightsOn {
background-color: rgb(255, 227, 89);
box-shadow: inset 0 0 20px 5px #fdf5cc, 0 0 11px 1px #ffeb87;
}


.simonPink-lightsOn {
background-color: rgb(255, 56, 185);
box-shadow: inset 0 0 20px 5px #ff60fa, 0 0 11px 1px #fb36c8;
}

.simonGreen-lightsOn {
background-color: #47ff47;
box-shadow: inset 0 0 20px 5px #c6ffbc, 0 0 11px 1px #33ff00;
}


.simon-screen {
box-shadow: 0 0 6px 2px #1f1f1f;
}

#simon-colors-container {
    transition: transform 3s;
}